* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

body {
    background-color: #ececec;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: rgb(63, 100, 219);
    padding: 8px 0;
}

header h1 {
    font-style: italic;
}

header h1, .menu a {
    color: #fff;
}

.menu {
    display: flex;
}

.menu li {
    list-style: none;
}

.menu a {
    padding-left: 12px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

section h2 {
    color: rgb(63, 100, 219);
    font-style: italic;
    font-size: 24px;
    padding-bottom: 12px;
    border-bottom: 2px solid rgb(63, 100, 219);
    margin-bottom: 32px;
}

#info-loja {
    margin-bottom: 64px;
}

.sobre-a-loja {
    display: grid;
    grid-template-columns: 38% 60%;
    column-gap: 2%;
    padding-top: 32px;
}

.sobre-a-loja img {
    width: 100%;
}

.sobre-a-loja p {
    font-size: 1em;
}

#produtos-loja {
    margin-bottom: 56px;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(4, 24.25%);
    column-gap: 1%;
}

.produto img {
    max-width: 100%;
    margin-bottom: 32px; 
}

.produto > h3 {
    font-size: 24px;   
    width: 100%;
}

.produto p {
    font-size: 16px;
    margin: 12px 0;
}

.produto button {
    background-color: rgb(63, 100, 219);
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 8px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}





@media screen and (max-width: 767px) {
    .container {
        max-width: 80%;
    }

    header .container{
        display: grid;
        grid-template-columns: 40% 40% auto;
    }

    .menu {
        display: block;
    }

    .sobre-a-loja {
        display: block;
    }

    .sobre-a-loja img {
        margin-bottom: 24px;
    }

    .produtos {
        display: block;
    }

    section h2 {
        margin-bottom: 48px;
    }

    .produto {
        margin-bottom: 48px;
    }
}

@media screen and (min-width:768px) and (max-width: 1023px) {
    .container {
        max-width: 80%;
    }

    header h1 {
        font-size: 28px;
    }

    header a {
        font-size: 18px;
    }

    section h2 {
        font-size: 22px;
    }

    .container .sobre-a-loja {
        display: block;
    }

    .produto img {
        margin-bottom: 16px;
    }

    .sobre-a-loja {
        margin-left: 0px;
    }

    .sobre-a-loja img {
        margin-bottom: 24px;
    }

    .sobre-a-loja p {
        font-size: 16px;
    }

    #produtos-loja {
        margin-bottom: 96px;
    }

    .produtos {
        display: grid;
        grid-template-columns: repeat(2, 49%);
        column-gap: 2%;
        row-gap: 5%;
        padding-top: 8px;
    }

    .produto p {
        font-size: 16px;
    }
}